*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

/*Media Queries*/
/*Start of iphone*/
@media only screen and (min-width: 375px) and (max-width: 667px){

	header{
		overflow-x: hidden;
		overflow-y: hidden;
	}
}
/*End of Media Queries*/


/*Header CSS*/
header{
		height: 100vh;
		background: url("../images/bg.jpeg");
		background-color: hsla(162, 1%, 66%, 1);
		background-size: cover;
		background-position: center;
}

header div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header > div > h1{
	margin-top: 100px;
	padding: 5px;
	position: relative;
	font-size: 100px;
	color: whitesmoke;
	font-family: 'Bree Serif', serif;
}

header > div > h3{
	font-size: 30px;
	color:whitesmoke;
	margin: 10px;
	padding: 10px;
}

header > div > h3 > span{
	font-size: 30px;
	color: #ed3330;
	font-weight: bold;
}

/*Styling for all buttons*/
.btn {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #538CAA;
	padding: 20px;
	border-radius: 5px;
	border: none;
	transition: all 0.4s ease 0s;
}

.btn:hover{
	background: #434343;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
/*End of Button CSS*/


/*End of header CSS*/

/*Nav CSS*/
nav{
	height: 40px;
	background-color: #5a5a5a;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	border: none;
	z-index: 100000;
	font-family: 'Noto Sans', sans-serif;
}

nav > ul {
	display: flex;
	list-style-type: none;
}

nav ul li a {
	text-decoration: none;
	color:whitesmoke;
}

nav ul li a:hover{
	background-color: whitesmoke;
	color: black;
}


nav > ul > li {
	margin: 0 20px;
	color: whitesmoke;
}

/*End of Nav CSS*/

/*Start of Aboutme*/

.about-me{
	display: flex;
	align-items: center;
	text-align: center;
	border-bottom: 1px solid whitesmoke;
	background: url("../images/bg-about.jpeg");
	background-position: center;
	background-size: cover;
}

.about-me-left, .about-me-right{
	height: 100vh;
	width: 50%;
	color: whitesmoke;
	align-items: center;
	justify-content: center;
}

/*img control for about-me-left*/
.about-me > .about-me-left > div > img{
	height: 300px;
	width: 300px;
	border-radius: 50%;
}

.about-me > .about-me-left > div {
	display: inline-block;
	margin-top: 80px;
}

/*End of img control*/

/*about-me-right content*/
.about-me-right > div > h2{
	font-size: 100px;
	font-weight: bolder;
	font-family: 'Bree Serif', serif;
	margin-top: 80px;
}

.about-me-right > div > h2:hover, .about-me-right > div > p:hover{
	text-shadow:5px 5px 10px #757575;
	transition: .8s;
}

.about-me-right >div > p{
	font-size: 20px;
	font-family: 'Bree Serif', serif;
	position: relative;
	margin-top: 10px;
	padding: 20px;
}
/*End of about-me-right content*/
/*End of About Me CSS*/

/*Start of section project CSS*/
/*container for project*/
.project{
	height: 100vh;
	display: flex;
	align-items: center;
	align-items: center;
	justify-content: space-around;
	background: url("../images/bg-project.jpeg");
	background-position: center;
	background-size: cover;
}

/*container for boxes*/
.project > .project1, .project2, .project3{
	height: 50%;
	width: 30%;
	border: none;
	background: url("../images/bg-project-container.jpeg");
	background-position: center;
	background-size: cover;
	justify-content: center;
	align-items: center;
	text-align: center;
	color:whitesmoke;
	border-radius: 5%;
	box-shadow: 2px 2px 5px whitesmoke;
}

/*for text css inside boxes*/
.project > .project1 > div >p, .project > .project2 > div >p, .project > .project3 > div >p{
	margin-top: 10px;
	font-size: 20px;
}

/*for image inside boxes*/
.project > .project1 > div >img, .project > .project2 > div >img, .project > .project3 > div >img{
	position: relative;
	margin-top: 10px;
	height:80%; 
	width:80%;
	border-radius: 2%;
}

/*css for gitlab image*/
#gitlab img{
	height: 30px;
	width: 30px;
	position: relative;
	margin-top: 10px;
}

#gitlab img:hover{
	height: 30px;
	width: 30px;
	position: relative;
	margin-top: 10px;
	transform: scale(1.3, 1.3);
	transition: .5s;
}

/*css for code image*/
#code{
	height: 30px;
	width: 30px;
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
}
/*End of section project CSS*/


/*Start of Skills section CSS*/
.skills{
	height: 50vh;
	background: url("../images/bg-skills.jpeg");
	background-position: center;
	background-size: cover;
	color: whitesmoke;
	align-items: center;
	text-align: center;
}


div > h1{
	font-size: 40px;
}
.logo-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.logo-container > img{
	height: 100px;
	width: 100px;
	padding: 10px;
	margin: 15px;
}

.logo-container > img:hover{
	transform: scale(1.5, 1.5);
	transition: .8s;
}
/*End of Skills section CSS*/


/*Start of Contact CSS*/
.contact{
	height: 80vh;
	background: url("../images/bg-contact.jpeg");
	background-size: cover;
	background-position: center;
}

.container-contact{
	align-items: center;
	text-align: center;
	color: whitesmoke;
}

.container-contact > div{
	margin-top: 30px;
}


.contact-list{
	font-size: 40px;
}

#list{
	height: 40px;
	width: 40px;
	padding: 5px;
	float: none;
}

/*End of Contact CSS*/

